@import "tailwindcss";

@keyframes float {
  0%, 100% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -60%) scale(1.05); }
}

@keyframes float2 {
  0%, 100% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(-20px, -20px) scale(1.08); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float2 {
  animation: float2 8s ease-in-out infinite;
}